
.card{
    background-color: #282422;
    color: white;
    box-shadow: 3px 3px #515a6185;
    
    .card-image{
        width: 100%;
        max-height: 172px;
        object-fit: cover;
        object-position: center;
    }
    .card-body{
        h6{
            color: rgba(255, 255, 255, 0.74);
        }
        a{
            .tongue{
                background-color: rgb(238, 98, 122);
                border: none;
                &:hover{
                    background-color: rgb(238, 98, 122);
                    opacity: .65;
                }
            
            }
        }
    }

}
