
.post-detail{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   
    .card-detail{
        width: 85%;
        .content-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin-bottom: 0%;
            }
            .like-button{
                display: flex;
                align-items: center;
                border-radius: 7px;
                border: none;
                background-color: rgb(238, 98, 122);
                color: white;
                padding: .5rem .5rem;
                &:hover{
                    background-color: rgb(238, 98, 122);
                    opacity: .65;
                }
            }
        }
        .card-form{
            padding: 16px;
            .publish-button{
                background-color: rgb(238, 98, 122);
                border: none;
                margin-top: .5rem;
                &:hover{
                    background-color: rgb(238, 98, 122);
                    opacity: .65;
                }
            }
        }
        .list-group{
            padding-left: 16px;
            padding-right: 16px;
            
        }
    }

}
