
.cool-nav{
    background-color: #282422;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

    .navbar-brand{
        color: white;
        margin-left: .5rem;
        &:hover{
            color: chocolate;
        } 
        :focus {
            color: chocolate;
        }
    }
    .mr-auto{
        display:flex;
        flex-direction: row; 
      
        .nav-item{
            margin-left: .5rem;
            margin-right: .5rem;
            a{
                color: white;
                padding: 0%;
                margin-top: 3px;
                &:hover{
                    color: chocolate;
                } 
                :focus {
                    color: chocolate;
                }
            }
        }
    }

}
