footer{
   
   background-color: #282422;
    color: white;

    .custom-container{
       max-width: 768px;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 30px;

       .navbar-brand{
         color: white;
         margin-left: .5rem;
         &:hover{
             color: chocolate;
         } 
         :focus {
             color: chocolate;
         }
     }

      .f-size{
         text-align: center;
         font-size: 90%;

            span{
               font-weight: bold;

            }
      }
   }
}




